body {
  font-family: 'Gloria Hallelujah', cursive;
}

.rules {
  font-size: 1.3em;
}

i {
  font-size: 1.5em;
}

.total-score {
  font-size: 1.6em;
  font-weight: bold;
}

.title {
  font-size: 3em;
}

.end-of-week {
  border-top: 3px solid black;
}

.punishments {
  font-size: 1.5em;
}

.single-view h3 {
  font-size: 40px !important;
}

.single-view h1 {
  font-size: 80px !important;
}

.single-view {
  margin-top: 25px;
  padding: 3%;
}

.single-view .rules li {
  font-size: 24px;
}

.single-view td {
  font-size: 0.75em;
}